html {
  font-family: 'Helvetica', sans-serif;
}
body {
  background: linear-gradient(135deg, #fc3f5f, #7d61ff) fixed;
}
.app {
  max-width: 1440px;
  background: linear-gradient(#2b2215cc, #22282e);
  margin: 50px auto;
  border-radius: 32px;
}
.container {
  width: 94%;
  margin: 0 auto;
}
